.main-slider {
    background-color: #C4C4C4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:400;
    color: #515151;
    font-size: 16px;
    display: block;
}

@media (orientation: landscape) {
    .movie {
        display: inline-flex;
        margin-left: 90px;
        margin-bottom: 55px;
    }

    .movie-infos {
        margin-left: 30px;
    }

    .movie-title {
        font-size: 32px;
    }

    .movie-detail>textarea {
        width: -webkit-fill-available;
        background-color: #C4C4C4;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        resize: none;
        font-size: 16px;
    }

    .movie-duration {
        margin-left: 40px;
        /* display: inline; */
    }

    .movie-avaliation {
        padding-top: 50px;
        display: block;
    }

    .slick-next {
        display: none !important;
    }
}

@media (orientation: portrait) {
    .movie-video {
        max-inline-size:-webkit-fill-available;
        padding-left: 5px;
        padding-right: 5px;
    }

    .movie-infos {
        text-align:-webkit-center
    }

     .movie-detail>textarea {
        padding-left: 10px;
        padding-right: 10px;
        max-width: -webkit-fill-available;
        background-color: #C4C4C4;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        resize: none;
    } 

     .movie-duration {
        margin-left: 20px;
        display: inline; 
     } 

     .movie-avaliation {
        padding-top: 10px;
        padding-left: 130px;
        display: block;
    }

    .slick-next {
        display: none !important;
    }

}