@media (orientation: landscape) {
    .cards {
        margin: 0px;
        display: inline-block;
        margin-left: 90px;
        margin-right: 90px;
    }

    .card {
        padding: 20px;
        border-radius: 10px;
        background-color: #C4C4C4;
    }   
}

@media (orientation: portrait) {
    .cards {
        padding: 20px 5px 0 5px;
        display: inline;
    }
}