.main-footer {
    padding-top: 20px;
    padding-bottom: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:400;
    text-align: center;
    background-color: #A4A4A4;
    font-size: 20px;
    color: #515151;
    display: flex;
    justify-content: space-around;
    align-items: center
}

@media (orientation: portrait) {
    .footer-icon-commit{
        display: none;
    }

    .footer-icon-logo{
        display: none;
    }
}

.github-icon, .linkedin-icon {
    font-size: xxx-large;
}

.footer-icon-developer {
    align-items: center;
}