.main-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:400;
    text-align: center;
    background-color: #A4A4A4;
}

@media (orientation: landscape) {
    .footer-icon-commit{
        text-align: left;
        margin-top: -110px;
        margin-left: 70px;
    }
}

@media (orientation: portrait) {
    .footer-icon-commit{
        margin-top: -110px;
        margin-right: 295px;
    }
}

.footer-icon-developer {
        align-items: center;
        padding: auto;
}

@media (orientation: landscape) {
    .footer-icon-logo{
        text-align: right;
        margin-right: 90px;
        margin-top: -100px;
    }
}

@media (orientation: portrait) {
    .footer-icon-logo{
        margin-top: -100px;
        margin-left: 260px;
    }
}