.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: #A4A4A4;
    height: 80px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:400;
    color: #E2E8EB;
}

@media (orientation: landscape) {
    .main-header {
        padding: 20px 90px 35px 90px;
    }

    .menu-links {
        font-size: 30px;
        align-items: center;
    }

    .search {
        border-radius: 6px;
        border: 1px solid #E2E8EB;
        width: auto;
        display: flex;
    }

    .searchIcon {
        margin: 5px;
    }

    .search-input {
        font-size: 24px;
        display: inline !important;
        border: none;
        background-color: #A4A4A4;
        color: #E2E8EB;
    }

    .search-input:focus {
        outline: none;
    }
}

@media (orientation: portrait) {
    .main-header {
        padding: 5px 10px 5px 10px;
    }

    .header-icon-logo {
        display: none;
    }

    .menu-links {
        font-size: 18px;
        margin-left: 5vw;
    }

    .search {
        border-radius: 6px;
        border: 1px solid #E2E8EB;
        width: auto;
        display: flex;
    }

    .searchIcon {
        margin: 5px;
    }

    .search-input {
        font-size: 18px;
        display: inline !important;
        border: none;
        background-color: #A4A4A4;
        color: #E2E8EB;
        width: 70px;
    }

    .search-input:focus {
        outline: none;
    }
}