@media (orientation: landscape) {
    .main-realeases {
        background-color: #C4C4C4;
        height: 600px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight:400;
        font-size: 18px;
    }

    .title {
        text-align: center;
        padding-top: 20px;
        font-size: 35px;
        text-decoration-line: underline;
        color: #515151;
    }
}

@media (orientation: portrait) {
    .main-realeases {
        background-color: #C4C4C4;
        height: 900px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight:400;
        font-size: 18px;
    }

    .title {
        text-align: center;
        padding-top: 20px;
        font-size: 35px;
        text-decoration-line: underline;
        color: #515151;
    }
}