.main-highlights {
    text-align: center;
    background-color: #DDDDDD;
    height: 580px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:400;
    font-size: 18px;
}

@media (orientation: landscape) {
    .title {
        margin-top: 0px;
        font-size: 35px;
        text-decoration-line: underline;
        color: #515151;
    }

    .button-genres-movie {
        text-align: right;
        margin-top: 10px;
        margin-right: 72px;
        margin-bottom: 50px;
    }

    .button-load-more {
        text-align: right;
        margin-top: 50px;
        margin-right: 80px;
    }
    .MuiButton-root {
        font-size: 555px;
    }
}

@media (orientation: portrait) {
    .title {
        display: none;
    }

    .button-genres-movie {
        display: none;
    }

    .button-load-more {
        display: none;
    }
    
    .MuiButton-root {
        display: none;
    }
}