@media (orientation: landscape) {
    .main-highlights {
        text-align: center;
        background-color: #DDDDDD;
        height: 750px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight:400;
        font-size: 18px;
    }

    .title {
        margin-top: 0px;
        font-size: 35px;
        text-decoration-line: underline;
        color: #515151;
    }

    .button-genres-movie {
        text-align: right;
        margin-top: 10px;
        margin-right: 72px;
        margin-bottom: 50px;
    }

    .button-load-more {
        text-align: right;
        margin-top: 50px;
        margin-right: 80px;
    }

    .MuiButton-root {
        font-size: 555px;
    }
}

@media (orientation: portrait) {
    .main-highlights {
        text-align: center;
        background-color: #DDDDDD;
        height: 650px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight:400;
        font-size: 18px;
    }

    .title {
        margin: 0;
        font-size: 18px;
        text-decoration-line: underline;
        color: #515151;
    }

    .button-genres-movie {
        padding: 10px 5px 0 5px;
        display: inline;
    }

    .button-load-more {
        display: inline;
        padding: 10px 5px 0 5px;
    }

}